#above{
	background: url(../images/photograph/img_title.jpg) 50% 0 no-repeat fixed;
	background-size: cover;
	color: white;
    height: 400px;
    margin-top: -44px;
    padding: 0;
}

h1{
	color: rgb(50, 55, 60);
}

.text-center{
	width: 150px;
}
