body{
	padding: 0;
	margin: 0;
}

#intro{
	background: url(../images/img_mainpic.jpg) 50% 0 no-repeat fixed;
	background-size: cover;
	/*width: 100%;*/
	color: white;
    height: 800px;
    margin: 0 auto;
    padding: 0;
}

#second{
	background: url(../images/img_aboutus.jpg) 50% 0 no-repeat fixed;
    background-size: cover;
    color: white;
    height: 800px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}

#third{
	background: url(../images/img_photograph.jpg) 50% 0 no-repeat fixed;
	background-size: cover;
    color: white;
    height: 800px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}

#fourth{
	background: url(../images/img_illustration.jpg) 50% 0 no-repeat fixed;
	background-size: cover;
    color: white;
    height: 800px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}

#fifth{
	background: url(../images/img_prose.JPG) 50% 0 no-repeat fixed;
	background-size: cover;
    color: white;
    height: 800px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}

#sixth{
	background: url(../images/img_trivia.jpg) 50% 0 no-repeat fixed;
	background-size: cover;
    color: white;
    height: 800px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}

#footer{
	background-color: rgb(110, 135, 160);
	height: 200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0;
}

.footer{
	width: 25px;
	margin: auto;
}



.small-nav{
	display: none;
}

p a{
	text-decoration: none;
	font-size: 50px;
	color: rgb(252, 255, 255);
}

.story{
	margin: 0 auto;
    overflow: hidden;
    width: 980px;
}

.title{
	margin: 0 auto;
	margin-top: 160px;
    overflow: hidden;
    width: 980px;
}

/*.story .float-left{
	padding: 200px 0 0 0;
	position: relative;
	width: 350px;
}*/

.float-left{
	padding-top: 200px;
	float: left;
    margin: 0 0 0 0px;
}

.float-auto{
	margin: auto;
	float: auto;
	width: 240px;
}

/*.float-right{
	width: 475px;
	float: right;
	text-align: right;
    margin: 0 0 0 0px;
}*/


div{
	display: block;
}

/*img{
	width: 101%;
	margin: -8px 0 0 -8px;
}*/

@font-face{
	font-family: 'RaleWay';
	src: url('../fonts/raleway_thin-webfont.woff');
}

h1{
	font-size: 60px;
	/*font-family: 'RaleWay', sans-serif;*/
	margin: 40px 120px 160px 0;
}

h2{
	font-size: 42px;
	margin-top: 0;
	
}

h3{
	font-size: 64px;
	margin: auto;
	margin: 0px 0px 0px 0;
}


#photgraph{
	color: rgb(50, 55, 60);
	margin: 0px 0px 160px 0px
	width: 465px;
}


#illustration{
	margin: -100px 120px 0px 0px;
}

#prose{
	margin: -200px 120px 0px 0px;
}

#trivia{
	margin: 20px 120px 0px 0px;
}

#button{
	width: 130px;
	font-family: 'RaleWay', sans-serif;
	font-weight: 700;
	border: 1.8px solid white;
	padding-left: 8px;
	color: white;
	margin: 20px 0 0 0;
}

#button:hover{
	width: 130px;
	font-family: 'RaleWay', sans-serif;
	color: white;
	font-weight: 700;
	border: 1.8px solid rgba(255, 255, 255, 0);
	background-color: rgba(255, 255, 255, 0.3);
	padding-left: 8px;
	margin: 20px 0 0 0;
}

#broken{
	width: 130px;
	font-family: 'RaleWay', sans-serif;
	font-weight: 700;
	border: 1.5px solid rgb(50, 55, 60);
	padding-left: 8px;
	color: white;
	margin: 20px 0 0 0;
	color: rgb(50, 55, 60);
}

#broken:hover{
	width: 130px;
	font-family: 'RaleWay', sans-serif;
	color: white;
	font-weight: 700;
	border: 1.5px solid rgba(50, 55, 60, 0);
	background-color: rgba(50, 55, 60, 0.3);
	padding-left: 8px;
	margin: 20px 0 0 0;
}

#centerbutton{
	width: 130px;
	font-family: 'RaleWay', sans-serif;
	font-weight: 700;
	border: 1.8px solid white;
	padding-left: 8px;
	color: white;
	margin: 20px auto;
}

#centerbutton:hover{
	width: 130px;
	font-family: 'RaleWay', sans-serif;
	color: white;
	font-weight: 700;
	border: 1.8px solid rgba(255, 255, 255, 0);
	background-color: rgba(255, 255, 255, 0.3);
	padding-left: 8px;
	margin: 20px auto;
}

nav{
	position: absolute;
	top: 0px;
	right: 0px;
	margin-top: 8px;
}

.clear{
	clear: both;
}

.site-nav{
	position: fixed;
	margin-top: 0px;
	width: 100%;
	height: 36px;
	background: rgba(10, 10, 30, 0.5);
}

.site-nav a:hover{
	font-family: 'RaleWay', sans-serif;
	color: white;
	border-bottom: 4px solid rgb(250, 250, 250);
	padding-bottom: 5px;
}

.site-nav ul{
	padding: 0px 0px 0px 0px;
	margin: 0px 0 0 0;
}

.site-nav li{
	font-family: 'RaleWay', sans-serif;
	color: rgb(250, 250, 250);
	list-style: none;
	float: right;
	margin: 10px 30px 0px 30px;
}

li a{
	text-decoration: none;
	font-family: 'RaleWay', sans-serif;
	color: rgb(250, 250, 250);
}

.click{
	text-decoration: none;
}

#logo{
	width: 120px;
	float: left;
}

#footer p{
	width: 306px;
	margin: 30px auto 0 auto;
	color: white;
}


/*a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: none;
	color: white;
    cursor: auto;
}

a:focus {
    outline: -webkit-focus-ring-color auto 5px;
}*/