@font-face{
	font-family: 'cwTeX';
	src: url('../fonts/cwTeXFangSong-zhonly.ttf');
}

@font-face{
	font-family: 'cwTeXHei';
	src: url('../fonts/cwTeXHei-zhonly.ttf');
}

li{
	list-style: none;
	font-family: 'cwTeX', serif;
}

.container{
	height: auto;
}

.text-center{
	width: 150px;
}

.screen{
	width: 500px;
	margin: auto;
}

.screen ul li{
	cursor: pointer;
}

.screen ul{
	margin: 0;
	padding: 0;
}

.ptitle p{
	display: none;
	margin: auto;
	font-size: 20px;
}

h2{
	font-family: 'cwTeX';
}

h3{
	color: rgb(50, 55, 60);
}

#ball{
	float: auto;
	width: 160px;
	margin: auto;
	font-size: 28px;
}
#edu{
	float: auto;
	width: 104px;
	margin: auto;
	font-size: 28px;
}