#above{
	background: url(../images/aboutus/img_title.jpg) 50% 0 no-repeat fixed;
	background-size: cover;
	color: white;
    height: 400px;
    margin-top: -44px;
    padding: 0;
}

h2{
	font-size: 28px;
	/*font-family: 'RaleWay', sans-serif;*/
	color: rgb(50, 55, 60);
	margin-bottom: 0;
}

img{
	width: 500px;
	float: auto;
	margin: 25px auto;
	margin-left: 240px;
}

@font-face{
	font-family: 'cwTeX';
	src: url('../fonts/cwTeXFangSong-zhonly.ttf');
}

@font-face{
	font-family: 'cwTeXHei';
	src: url('../fonts/cwTeXHei-zhonly.ttf');
}

#button{
	width: 280px;
	margin: auto;
}

.button p{
	width: 80px;
}

.button{
	width: 100px;
	/*font-family: 'RaleWay', sans-serif;*/
	font-family: Helvetica;
	border: 1.6px solid rgb(70, 85, 100);
	padding-left: 20px;
	color: rgb(70, 85, 100);
	margin: 40px auto;
}

.button:hover{
	width: 100px;
	font-family: Helvetica;
	color: white;
	border: 1.6px solid rgba(70, 85, 100, 0);
	background-color: rgba(70, 85, 100, 0.5);
	padding-left: 20px;
	color: rgb(252, 255, 255);
	margin: 40px auto;
}

.text-center{
	width: 175px;
}

#left{
	float: left;
	width: 70px;
	padding-left: 30px;
	font-family: Helvetica;
	color: white;
	border: 1.6px solid rgb(70, 85, 100);
	background-color: rgb(70, 85, 100);
	color: rgb(252, 255, 255);
}

#right{
	float: right;
	width: 80px;
	padding-left: 27px;
}

.name{
	width: 67px;
	font-size: 24px;
	font-family: 'cwTeX', serif;
}

.birth{
	width: 120px;
	font-size: 24px;
	font-family: 'cwTeX', serif;
	margin-top: 15px;
}

.interest{
	width: 258px;
	font-size: 24px;
	font-family: 'cwTeX', serif;
	margin-top: 36px;
}

/* .email{
	width: 319px;
	font-size: 24px;
	font-family: 'cwTeX', serif;
	margin-top: 36px;
} */

.line{
	width: 30px;
	border-bottom: 3px solid rgb(50, 55, 60);
	float: auto;
	margin: auto;
	margin-top: 60px;
}

.school{
	width: 45px;
	font-size: 24px;
	font-family: 'cwTeX', serif;
	margin-top: 30px;
}

.university{
	width: 455px;
	font-size: 24px;
	font-family: 'cwTeX', serif;
	margin-top: 20px;
}

.juniorhigh{
	width: 177px;
	font-size: 24px;
	font-family: 'cwTeX', serif;
	margin-top: 20px;
}

p{
	margin: 8px auto;
}

