#above{
	background: url(../images/illustration/img_title.jpg) 50% 0 no-repeat fixed;
	background-size: cover;
	color: white;
    height: 400px;
    margin-top: -44px;
    padding: 0;
}

.container{
	height: 750px;
}

.text-center{
	width: 219px;
}