@media screen and (max-width: 768px){
	img{
		width: 210px;
	}

	img:hover{
		width: 220px;
		margin-bottom: -2px;
		margin-left: -2px
	}

	.column1{
		width: 256px;
		margin: 0;
	}
	.column2{
		width: 256px;
		margin: 0;
	}

	.column3{
		float: left;
		width: 256px;
		margin: 0;
	}

	.img1{
		float: left;
		width: 210px;
		margin: 25px 20px 25px 29px;
	}

	.img2{
		float: left;
		width: 210px;
		margin: 25px 20px 25px 20px;
		padding-left: 6px;
	}

	.img3{
		float: left;
		width: 210px;
		margin: 25px 29px 25px 20px;
	}
}